.cart-icon {
	position: relative;

	img {
		height: 3.5rem;
		width: 3.5rem;
	}

	span {
		position: absolute;
		background-color: #151515;
		padding: 0.2rem 0.3rem;
		border-radius: 3px;
		color: white;
		top: -0.5rem;
		transform: translateX(-12px);
		font-weight: 400;
		font-size: 1.5rem;
	}
}
