.checkout-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2.1rem;
	font-weight: 400;
	margin-bottom: 3.7rem;
	position: relative;
	padding: 0 2.5rem 0.8rem 2.5rem;

	.image-container {
		width: 13rem;

		img {
			width: 100%;
			height: 100%;
			border-radius: 7px;
		}
	}

	.checkout-info {
		display: flex;
		align-items: center;
	}

	.checkout-item-remove {
		cursor: pointer;
		transition: transform 200ms ease-in;

		&:hover {
			transform: scale(1.3);
		}
	}

	.checkout-item-count {
		.checkout-item-count-main {
			margin: 0 1.4rem;
		}

		.arrow {
			cursor: pointer;
		}
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 2px;
		width: 100%;
		background-color: grey;
	}
}
