*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-size: 1.7rem;
	font-family: "Open Sans", sans-serif;
	padding: 1.5rem 7rem;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
